.header {
  position: relative;
  background-color: #cdcfff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 2rem;
  z-index: 999;
}

.app_name {
  color: #fff;
  font-size: 2.8rem;
  text-align: center;
  text-decoration: none;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_links li {
  font-size: 1.3rem;
  margin-right: 3rem;
  list-style: none;
}

.nav_links a {
  color: #fff;
  text-decoration: none;
}

.nav_links a:hover {
  color: #646cff;
}
